In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [5]:
dataset = pd.read_csv('C:\dataset\placement-dataset.csv')

In [6]:
df = pd.DataFrame(dataset)

In [7]:
df

    id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[100 rows x 4 columns]

In [8]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [9]:
print(X)

[[  0.    6.8 123. ]
 [  1.    5.9 106. ]
 [  2.    5.3 121. ]
 [  3.    7.4 132. ]
 [  4.    5.8 142. ]
 [  5.    7.1   nan]
 [  6.    5.7 143. ]
 [  7.    5.    nan]
 [  8.    6.1 156. ]
 [  9.    5.1  66. ]
 [ 10.    6.   45. ]
 [ 11.    6.9   nan]
 [ 12.    5.4 139. ]
 [ 13.    6.4 116. ]
 [ 14.    6.1 103. ]
 [ 15.    nan 176. ]
 [ 16.    5.2 224. ]
 [ 17.    3.3 183. ]
 [ 18.    4.  100. ]
 [ 19.    5.2 132. ]
 [ 20.    6.6 120. ]
 [ 21.    7.1 151. ]
 [ 22.    4.9 120. ]
 [ 23.    4.7  87. ]
 [ 24.    4.7 121. ]
 [ 25.    5.   91. ]
 [ 26.    7.  199. ]
 [ 27.    6.  124. ]
 [ 28.    5.2  90. ]
 [ 29.    7.  112. ]
 [ 30.    7.6 128. ]
 [ 31.    3.9 109. ]
 [ 32.    7.  139. ]
 [ 33.    6.  149. ]
 [ 34.    4.8 163. ]
 [ 35.    6.8  90. ]
 [ 36.    5.7 140. ]
 [ 37.    8.1 149. ]
 [ 38.    6.5 160. ]
 [ 39.    4.6 146. ]
 [ 40.    4.9 134. ]
 [ 41.    5.4 114. ]
 [ 42.    7.6  89. ]
 [ 43.    6.8 141. ]
 [ 44.    7.5  61. ]
 [ 45.    6.   66. ]
 [ 46.    5.3 114. ]
 [ 47.    5.2 161. ]
 [ 48.    6.6 138. ]
 [ 49.    5.4 135. ]
 [ 50.    3.5 233. ]
 [ 51.    4.8 141. ]
 [ 52.    7.  175. ]
 [ 53.    8.3 168. ]
 [ 54.    6.4 141. ]
 [ 55.    7.8 114. ]
 [ 56.    6.1  65. ]
 [ 57.    6.5 130. ]
 [ 58.    8.   79. ]
 [ 59.    4.8 112. ]
 [ 60.    6.9 139. ]
 [ 61.    7.3 137. ]
 [ 62.    6.  102. ]
 [ 63.    6.3 128. ]
 [ 64.    7.   64. ]
 [ 65.    8.1 166. ]
 [ 66.    6.9  96. ]
 [ 67.    5.  118. ]
 [ 68.    4.   75. ]
 [ 69.    8.5 120. ]
 [ 70.    6.3 127. ]
 [ 71.    6.1 132. ]
 [ 72.    7.3 116. ]
 [ 73.    4.9  61. ]
 [ 74.    6.7 154. ]
 [ 75.    4.8 169. ]
 [ 76.    4.9 155. ]
 [ 77.    7.3  50. ]
 [ 78.    6.1  81. ]
 [ 79.    6.5  90. ]
 [ 80.    4.9 196. ]
 [ 81.    5.4 107. ]
 [ 82.    6.5  37. ]
 [ 83.    7.5 130. ]
 [ 84.    5.7 169. ]
 [ 85.    5.8 166. ]
 [ 86.    5.1 128. ]
 [ 87.    5.7 132. ]
 [ 88.    4.4 149. ]
 [ 89.    4.9 151. ]
 [ 90.    7.3  86. ]
 [ 91.    7.5 158. ]
 [ 92.    5.2 110. ]
 [ 93.    6.8 112. ]
 [ 94.    4.7  52. ]
 [ 95.    4.3 200. ]
 [ 96.    4.4  42. ]
 [ 97.    6.7 182. ]
 [ 98.    6.3 103. ]
 [ 99.    6.2 113. ]]

In [10]:
print(y)

[1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0
 1 1 0 0 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1 1 0
 1 0 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 1 0 1 0 0 0 1 1 1]

In [11]:
df.isnull().sum()

id           0
cgpa         1
iq           3
placement    0
dtype: int64

In [12]:
df1 = df.copy()

In [13]:
# summarize the shape of the raw data
print("Before:",df1.shape)

# drop rows with missing values
df1.dropna(inplace=True)

# summarize the shape of the data with missing rows removed
print("After:",df1.shape)

Before: (100, 4)
After: (96, 4)

In [14]:
df2 = df.copy()

In [15]:
import warnings
warnings.filterwarnings('ignore')

In [16]:
# fill missing values with mean column values
df2.fillna(df2.mean(), inplace=True)
# count the number of NaN values in each column
print(df2.isnull().sum())

df2

id           0
cgpa         0
iq           0
placement    0
dtype: int64

    id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[100 rows x 4 columns]

In [17]:
# Dropping rows with NaN values
dataset_dropna = dataset.dropna()

In [18]:

# Filling NaN values with a specific value (e.g., filling with 0)
dataset_fillna = dataset.fillna(0)

In [19]:
print("\nDataFrame after dropna:\n", dataset_dropna)

DataFrame after dropna:
     id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[96 rows x 4 columns]

In [20]:
print("\nDataFrame after fillna:\n", dataset_fillna)

DataFrame after fillna:
     id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[100 rows x 4 columns]

In [22]:
filtered_data = dataset[dataset['iq'].notnull()]

In [23]:
print("\nFiltered Data (iq not null):\n", filtered_data)

Filtered Data (iq not null):
     id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[97 rows x 4 columns]

In [24]:
# Using interpolate to fill NaN values with interpolation
dataset_interpolate = dataset.interpolate()

In [25]:
print("\nDataFrame after interpolate:\n", dataset_interpolate)

DataFrame after interpolate:
     id  cgpa     iq  placement
0    0   6.8  123.0          1
1    1   5.9  106.0          0
2    2   5.3  121.0          0
3    3   7.4  132.0          1
4    4   5.8  142.0          0
..  ..   ...    ...        ...
95  95   4.3  200.0          0
96  96   4.4   42.0          0
97  97   6.7  182.0          1
98  98   6.3  103.0          1
99  99   6.2  113.0          1

[100 rows x 4 columns]

In [26]:
dataset_replace = dataset.replace(np.nan, -1)

In [27]:
data_dict = {'cgpa': [1, 2, 3],
             'iq': ['A', 'B', 'C']}
df_from_dict = pd.DataFrame(data_dict)

In [28]:
print("\nDataFrame created from dictionary:\n", df_from_dict)

DataFrame created from dictionary:
    cgpa iq
0     1  A
1     2  B
2     3  C

In [37]:
dict_of_lists = dataset.to_dict(orient='list')

In [38]:
print("Dictionary of Lists:\n", dict_of_lists)

Dictionary of Lists:
 {'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 'cgpa': [6.8, 5.9, 5.3, 7.4, 5.8, 7.1, 5.7, 5.0, 6.1, 5.1, 6.0, 6.9, 5.4, 6.4, 6.1, nan, 5.2, 3.3, 4.0, 5.2, 6.6, 7.1, 4.9, 4.7, 4.7, 5.0, 7.0, 6.0, 5.2, 7.0, 7.6, 3.9, 7.0, 6.0, 4.8, 6.8, 5.7, 8.1, 6.5, 4.6, 4.9, 5.4, 7.6, 6.8, 7.5, 6.0, 5.3, 5.2, 6.6, 5.4, 3.5, 4.8, 7.0, 8.3, 6.4, 7.8, 6.1, 6.5, 8.0, 4.8, 6.9, 7.3, 6.0, 6.3, 7.0, 8.1, 6.9, 5.0, 4.0, 8.5, 6.3, 6.1, 7.3, 4.9, 6.7, 4.8, 4.9, 7.3, 6.1, 6.5, 4.9, 5.4, 6.5, 7.5, 5.7, 5.8, 5.1, 5.7, 4.4, 4.9, 7.3, 7.5, 5.2, 6.8, 4.7, 4.3, 4.4, 6.7, 6.3, 6.2], 'iq': [123.0, 106.0, 121.0, 132.0, 142.0, nan, 143.0, nan, 156.0, 66.0, 45.0, nan, 139.0, 116.0, 103.0, 176.0, 224.0, 183.0, 100.0, 132.0, 120.0, 151.0, 120.0, 87.0, 121.0, 91.0, 199.0, 124.0, 90.0, 112.0, 128.0, 109.0, 139.0, 149.0, 163.0, 90.0, 140.0, 149.0, 160.0, 146.0, 134.0, 114.0, 89.0, 141.0, 61.0, 66.0, 114.0, 161.0, 138.0, 135.0, 233.0, 141.0, 175.0, 168.0, 141.0, 114.0, 65.0, 130.0, 79.0, 112.0, 139.0, 137.0, 102.0, 128.0, 64.0, 166.0, 96.0, 118.0, 75.0, 120.0, 127.0, 132.0, 116.0, 61.0, 154.0, 169.0, 155.0, 50.0, 81.0, 90.0, 196.0, 107.0, 37.0, 130.0, 169.0, 166.0, 128.0, 132.0, 149.0, 151.0, 86.0, 158.0, 110.0, 112.0, 52.0, 200.0, 42.0, 182.0, 103.0, 113.0], 'placement': [1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1]}

In [34]:
# Creating a boolean series with True for NaN values
nan_series = dataset.isna()

In [35]:

print("Boolean Series for NaN Values:\n", nan_series)

Boolean Series for NaN Values:
        id   cgpa     iq  placement
0   False  False  False      False
1   False  False  False      False
2   False  False  False      False
3   False  False  False      False
4   False  False  False      False
..    ...    ...    ...        ...
95  False  False  False      False
96  False  False  False      False
97  False  False  False      False
98  False  False  False      False
99  False  False  False      False

[100 rows x 4 columns]

In [36]:
df.head()

   id  cgpa     iq  placement
0   0   6.8  123.0          1
1   1   5.9  106.0          0
2   2   5.3  121.0          0
3   3   7.4  132.0          1
4   4   5.8  142.0          0